
ion-header {
    background: #4a90e2;  
  }
  
  ion-title {
    color: white; 
  }
  
  ion-button {
    --background: #32db64;  
    --background-activated: #28ba62;  
    margin: 12px;  
    font-weight: bold;
  }
  
  ion-content {
    --background: #f0f0f0;  
  }
  